{% if post.bibtex %}
<section class="blog-post-citation" aria-labelledby="cite-heading">
  <h2 id="cite-heading">Cite this post</h2>
  <div class="blog-post-citation-wrap">
    <pre class="blog-post-citation-bibtex" id="blog-post-citation-bibtex"><code class="nohighlight">{{ post.bibtex }}</code></pre>
    <button type="button" class="blog-post-citation-copy" aria-label="Copy BibTeX" title="Copy BibTeX">
      <svg class="icon-copy" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true"><path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/></svg>
      <svg class="icon-check" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true"><path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/></svg>
    </button>
  </div>
</section>
<script>
(function () {
  var btn = document.querySelector('.blog-post-citation-copy');
  var pre = document.getElementById('blog-post-citation-bibtex');
  if (!btn || !pre) return;
  btn.addEventListener('click', function () {
    var text = pre.innerText;
    var restore = function () { btn.classList.remove('is-copied'); };
    var done = function () {
      btn.classList.add('is-copied');
      setTimeout(restore, 1500);
    };
    if (navigator.clipboard && navigator.clipboard.writeText) {
      navigator.clipboard.writeText(text).then(done, function () {});
    } else {
      var range = document.createRange();
      range.selectNodeContents(pre);
      var sel = window.getSelection();
      sel.removeAllRanges();
      sel.addRange(range);
      try { document.execCommand('copy'); done(); } catch (e) {}
      sel.removeAllRanges();
    }
  });
})();
</script>
{% endif %}
